@{

    ViewData["Title"] = "Search Page";
   
}

<form method="post">
    <fieldset>
        <legend>Search person</legend>

        <div>
            <label for="Firstname">First Name:</label>
            <input type="text" name="Firstname"  placeholder="First name" />
        </div>
        <div>
            <label for="Country">Country:</label>
            <input type="text" name="Country"  placeholder="Country" />
        </div>
        <div>

            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>